html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font);
  background-color: var(--cloud);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-weight: 300;
  color: var(--text-color)
}

p {
  color: var(--text-color);
  margin: 0;
  line-height: 1.5em;
  font-size: 14px;
}

h1 {
  font-size: 42px;
}

h2 {
  margin: 8px 0;
}

.container {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}

.f {
  display: flex;
}

.f-ctr {
  justify-content: center;
}

.mdl {
  align-items: center;
}

.f-c {
  flex-direction: column;
}

.f-btw {
  justify-content: space-between;
}

.f-sar {
  justify-content: space-around;
}

.f-rht {
  justify-content: flex-end;
}

.f-end {
  align-items: flex-end;
}

.f-start {
  align-items: flex-start;
}

.f-w {
  flex-wrap: wrap;
}

.subtitle {
  font-size: 16px;
}

.bolder {
  font-weight: 400
}

.bold {
  font-weight: 700;
}

.text-primary {
  color: var(--orange);
}

.centered {
  text-align: center;
}

.wrapper {
  background: #fff;
  padding: 13px 25px;
  border-radius: 4px;
  margin-bottom: 15px;
}

.uppercase {
  text-transform: uppercase;
}