:root {
  --cloud: #f3f7f9;
  --green: #56b586;
  --orange: #fd6542;
  --text-color: #333;
  --font: 'Lato', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}